.DS_Store
.vscode
__pycache__

old
all_competitions.ipynb
prompt_engineering.ipynb
#chat.py
.env

articles_eredivisie_ESPN_Style.csv
articles_eredivisie_rewritten.csv
training_2
explore_data.ipynb
winstreak_plot.ipynb
secrets.toml
eredivisie_test.csv
eredivisie_test2.csv
Dockerfile
xDragdrop.py
eredivisie_logos
qr_code.py
qr_southfields.svg