.DS_Store
.vscode
__pycache__

old
all_competitions.ipynb
prompt_engineering.ipynb
#chat.py
.env

articles_eredivisie_ESPN_Style.csv
articles_eredivisie_rewritten.csv
eredivisie_test.csv
eredivisie_test2.csv
merged.csv
merged_ereD.csv


training_2
explore_data.ipynb
winstreak_plot.ipynb
secrets.toml
Dockerfile
xDragdrop.py
logos
qr_code.py
xAgenda.py
competitions.py
connector.py
Video_.py
soccer_prompt_ESPN.py

test
