[Unit]
Description=Streamlit App
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/home/app/
ExecStart=streamlit run Home.py
[Install]
WantedBy=multi-user.target