[Unit]
Description=Streamlit App
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=streamlit run /home/app/Home.py
[Install]
WantedBy=multi-user.target